[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-readers-file = "*"
llama-index-vector-stores-postgres = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-llama-cpp = "*"
llama-cpp-python = "*"
chroma = "*"

[dev-packages]
ipykernel = "*"
black = {extras = ["jupyter"], version = "*"}
jupyter = "*"
jupyter-kernel = "*"
dotenv = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
